.env
rag_env_chatbot/
# .env*
rag_chatbot_env/
venv/
# data/
src/__pycache__/
src/ingestion/__pycache__/
src/llm/__pycache__/
src/utils/__pycache__/
src/retriever/__pycache__/
# .env*
rag_chatbot_env/
venv/
__pycache__/